<div class="container mt-5">
    <h2 class="mb-3">Users</h2>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="d-flex justify-content-between align-item-start mb-2 px-4 ms-4 py-3">
                    <div class="fw-bold">Name</div>
                    <div class="fw-bold">Registration#</div>
                    <div class="fw-bold">Role</div>
                    <div class="fw-bold">Actions</div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-item-start mb-2 border px-4 py-3 rounded-3 " *ngFor="let u of userList">
                    <div class="fw-bold">{{u.name}}</div>
                    <div class="fw-bold">{{u.registration_no}}</div>
                    <div class="fw-bold">{{u.role}}</div>
                    <div class="fw-bold">
                        <a [routerLink]="['edit', u.registration_no]"> view <i class="fas fa-edit"></i></a> <br>
                        <a (click)="removeUser(u.registration_no)">Delete <i class="fas fa-trash"></i></a>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>
