label{
    width: 100%;
    margin-bottom: 10px;
}
input{
    width: 50%;
    padding: 10px 10px 10px 20px;
	border: 1px solid white;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
a{
	
	text-decoration: none;
}

.regButton{
    display: block
}


.myButton {
	background:linear-gradient(to bottom, #8476cf 5%, #6557B8 100%);
	background-color:#6557B8;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
    width: 20%;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #6557B8;
    margin-top: 50px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #7163C4 5%, #6557B8 100%);
	background-color:#6557B8;
}
.myButton:active {
	position:relative;
	top:1px;
}
button:disabled{
	all : unset;
	background: gray;
	background-color:#818181;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
    width: 20%;
	color:#e3dfdf;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin-top: 50px;
	cursor: not-allowed;
	transition: none;
	pointer-events: none;

	
}