<div class="container mt-5">
    <h2 class="mb-4 text-primary text-center" *ngIf="playerList.length > 0">
        Players List for <span class="fw-bold">{{playerList[0]?.teamName}}</span>
    </h2>
    <h2 class="mb-4 text-danger text-center" *ngIf="playerList.length === 0">No players available</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group shadow-lg">
                <li class="list-group-item d-flex justify-content-between align-items-center border rounded-3 px-4 py-3 mb-2" 
                    *ngFor="let t of playerList"
                    [ngClass]="{'bg-light': (playerList.indexOf(t) % 2 === 0), 'bg-white': (playerList.indexOf(t) % 2 !== 0)}">
                    
                    <div class="fw-bold text-dark">{{t.playerName}} - <span class="text-muted">{{t.reg_no}}</span></div>
                    <div class="fw-bold text-secondary">{{t.teamName}}</div>
                    <div class="fw-bold">
                        <!-- <a (click)="confirmDelete(t.reg_no)" class="text-danger" style="cursor: pointer;">
                            <i class="fas fa-trash-alt"></i>
                        </a> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
