
<div class="container mt-5">
    <h2 class="mb-3">players list {{result.Tname}}</h2>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-item-start mb-2 border px-4 py-3 rounded-3 " *ngFor="let t of playerList">
                    <div class="fw-bold">{{t.reg_no}}</div>
                    <div class="fw-bold">
                        <a (click)="removeUser(u.registration_no)"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>
