

  <div class="container my-5">
    <h3 class="text-center mb-4">Match Scores : {{sport}}</h3>
    <span class="text-muted fs-7 d-block">
      <!-- Match Status Based on Winner ID -->
      <span *ngIf="matchDetails.winner === null">(<i>Match not started</i>)</span>
      <span *ngIf="matchDetails.winner === 0">(<i>Match is being played</i>)</span>
      <span *ngIf="matchDetails.winner !== null && matchDetails.winner !== 0">
        (<i>Winner: {{matchDetails.winner === matchDetails.team1_id ? matchDetails.Team1Name : matchDetails.Team2Name }}</i>)
      </span>
    </span>
  
    <div *ngIf="sportType === 'Cricket'">
      <app-cricketscore></app-cricketscore>
    </div>

    <div *ngIf="sportType === 'goalbase'">
      <app-goalbasescore></app-goalbasescore>
    </div>
  
    
    <div *ngIf="sportType === 'pointbase'">
      <app-pointbasescore></app-pointbasescore>
    </div>


    <div *ngIf="sportType === 'turnbase'">
      <app-turnbasescore></app-turnbasescore>
    </div>

