.card {
    margin: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .container {
    max-width: 1000px;
  }
  