<div class="container my-5">
    <form #form="ngForm" (submit)="onSubmit(form)" class="bg-light p-4 rounded shadow-sm">
        <div class="mb-3">
            <label for="sport_id" class="form-label">Sport:</label>
            <input type="text" name="" class="form-control" readonly>
          </div>
      
  
      <div class="mb-3">
        <label for="rule_of_game" class="form-label">Rule of Game:</label>
        <textarea id="rule_of_game" readonly name="rule_of_game" class="form-control" rows="4" required [(ngModel)]="sport.rule_of_game" maxlength="1000"></textarea>
      </div>
    </form>
  </div>
  