<div class="container">
    <div class="row centered-form">
        <h3>Edit User</h3>
        <div class="col-md-6">
            <form #form="ngForm" (submit)="onSubmit()">
                <div class="mb-3">
                    <label>id</label>
                    <input type="text" name="id" id="" readonly [(ngModel)]="userDetail.id">
                    <label>name</label>
                    <input type="text" name="name" id="" [(ngModel)]="userDetail.name"> 
                    <label>registration number</label>
                    <input type="text" name="registration_no" id="" [(ngModel)]="userDetail.registration_no" > 
                    <label for="role">Role</label>
                    <select name="role" id="role" [(ngModel)]="userDetail.role">
                        <option value="" disabled>Select a role</option>
                        <option value="Admin">Admin</option>
                        <option value="Mod">Mod</option>
                        <option value="Captain">Captain</option>
                        <option value="User">User</option>
                    </select>
                    
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>