<form (ngSubmit)="onSubmit('turnBasedGame')">
    <div class="row mb-4">
      <!-- Player 1 Information -->
      <div class="col-md-5 text-center fs-5">
        <div class="mb-3">
          <label for="player1_name">
          <input type="radio" [(ngModel)]="selectedTeam" value="{{turnBase.team1_name}}" name="team1_name" (change)="onSelected(turnBase.team1_name)">
          {{turnBase.team1_name}}
        </label>
        </div>
      </div>
      <div class="col-md-2 text-center fs-6">
        <span>VS</span>
      </div>
      <!-- Player 2 Information -->
      <div class="col-md-5 text-center fs-5">
        <div class="mb-3">
          <label for="player2_name">
          <input type="radio" [(ngModel)]="selectedTeam" value="{{turnBase.team2_name}}" name="team2_name" (change)="onSelected(turnBase.team2_name)">
          {{turnBase.team2_name}}
        </label>
        </div>
      </div>
    </div>
  
  
    <!-- Event (Chess or Ludo specific actions) -->
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="eventSelect" class="form-label">Event</label>
          <select name="events" id="eventSelect" class="form-select">
            <option value="Turn Started">Turn Started</option>
            <option value="Turn Ended">Turn Ended</option>
            <option value="Piece Moved">Piece Moved</option>
            <option value="Foul">Foul</option>
            <option value="Special Move">Special Move</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="strikerSelect" class="form-label">Striker</label>
          <select name="striker" id="strikerSelect" class="form-select" required [(ngModel)]="selectedPlayer">
            <option *ngFor="let player of players" [value]="player.id">{{player.name}}</option>
          </select>
          <div class="invalid-feedback">
            Please select a striker.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <label for="comment" class="form-label">Your Comment</label>
          <textarea class="form-control" id="comment" name="comment" rows="1" placeholder="Write your comment or move details..."></textarea>
        </div>
      </div>
    </div>

  
    <!-- Image Picker for Action or Move Illustration -->
    <div class="mb-3">
      <label for="image" class="form-label">Pick Images</label>
      <input type="file" class="form-control" id="image" name="images[]" accept="image/*" multiple>
    </div>  
    <button type="submit" class="btn btn-primary">Submit Turn</button>
    <button type="button" (click)="endMatch()" class="btn btn-sm btn-danger ms-3">End Match</button>
  </form>