<div class="text-center">
    <form #form="ngForm">
        
        <H3>Login</H3>
        
            
            <label>Enter Registration Number</label>
            <input type="text" name="registration_no" placeholder="2021-Arid-0000" [(ngModel)]="loginObj.registration_no" required  #regNum="ngModel">
			<div class="text-danger col-7">
				@if ((regNum.touched || regNum.dirty) && regNum.errors?.['required']){
					<span>Enter valid Format</span>

				}
			</div>
            <label>Enter Password</label>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="loginObj.password" #pswd="ngModel" required>
			<div class="text-danger col-7">
				@if ((pswd.touched || pswd.dirty) && pswd.errors?.['required']){
					<span>Enter password</span>

				}
			</div>
        <div class="row regButton">
            <button (click)="onLogin()" [disabled]="form.invalid" class="myButton">Login</button>
        </div>
        
    </form>
    <p>not registered yet? <a routerLink="/register">Register</a></p>
</div>
