<div class="container-fluid">
    <div class="row flex-nowrap">
      
        <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
            <div class="bg-dark p-2">
                <a href="" class="d-flex text-decoration-none align-items-center text-white mt-1">
                    <span class="fs-4 d-none d-sm-inline p-3"> Admin Panel</span>
                </a>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item py-2 py-sm-0">
                        <a href="" class="nav-link text-white"  >
                            <i class="fa-solid fa-house"></i><span class="fs-4 d-none ms-2 d-sm-inline"> Home</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a href="" class="nav-link text-white"  >
                            <i class="fa-solid fa-house"></i><span class="fs-4 d-none ms-2 d-sm-inline"> Side Menu</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a href="" class="nav-link text-white"  >
                            <i class="fa-solid fa-house"></i><span class="fs-4 d-none ms-2 d-sm-inline"> Side Menu</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown open p-3">
                <button class="btn border-none text-white btn-secondary dropdown-toggle" type="button" id="triggerId" aria-expanded="false" data-bs-toggle="dropdown">
                    <i class="fa fa-user"></i><span class="ms-2">Myself</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <button class="dropdown-item">Setting</button>
                    <button class="dropdown-item">Profile</button>
                </div>
            </div>
        </div>
    
    
        
        
    </div>
    
</div>
    