/* You can add global styles to this file, and also import other style files */


body{
	
	/* justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif; */
	background-color: rgba(242, 242, 242, 1);
	overflow-x: hidden;
}
.content{
	width: 100%;
	display: block;
}