<div class="container my-5">
    <h3 class="text-center mb-4">Match Scoring : {{sport}}</h3>
  
    <div *ngIf="sportType === 'Cricket'">
   <app-sc-cricket [cricketScore]="cricketscore"></app-sc-cricket>
    </div>
  
  
    <div *ngIf="sportType === 'goalbase'">
      <app-sc-goalbase [goalBase]="goalbase"></app-sc-goalbase>
    </div>
  
    
    <div *ngIf="sportType === 'pointbase'">
      <app-sc-pointbase [pointBase]="pointbase"></app-sc-pointbase>
    </div>


    <div *ngIf="sportType === 'turnbase'">
      <app-sc-turnbase [turnBase]="turnbase"></app-sc-turnbase>
    </div>
  </div>

  
