<div class="container">
    <div class="row centered-form">
        <h3>Edit User</h3>
        <div class="col-md-6">
            <form #form="ngForm" (submit)="onSubmit()">
                <div class="mb-3">
                    <input type="hidden" name="teamid" readonly [(ngModel)]="teamDetail.teamid" class="form-control">
                    <label>Team name</label>
                    <input type="text" name="Tname" [(ngModel)]="teamDetail.Tname" class="form-control"> 
                    <label>Class</label>
                    <input type="text" name="className" [(ngModel)]="teamDetail.className" class="form-control">
                    <label>Image Path</label>
                    <input type="text" name="image_path" [(ngModel)]="teamDetail.image_path" class="form-control">
                    <label>Managed By</label>
                    <input type="text" name="managedby" readonly [(ngModel)]="teamDetail.captain_id" class="form-control">
                    <input type="hidden" name="session_id" readonly [(ngModel)]="teamDetail.session_id" class="form-control"> 
                    <input type="hidden" name="sport_id" readonly [(ngModel)]="teamDetail.sport_id" class="form-control">
                    <label for="teamStatus">Team Status</label>
                    <select name="teamStatus" [(ngModel)]="teamDetail.teamStatus" class="form-control">
                    <option [value]="0">Inactive</option>
                    <option [value]="1">Active</option>
                    </select>
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>